In [1]:
import pandas as pd

In [2]:
# training data

male = pd.read_csv('data/male_names.csv')
male['gender'] = 'male'

female = pd.read_csv('data/female_names.csv')
female['gender'] = 'female'

df = pd.concat([male, female])
df.head()

        name  frequency  mean_age gender
0    ANTONIO     715215      54.6   male
1       JOSE     641525      60.0   male
2     MANUEL     618891      54.0   male
3  FRANCISCO     530309      56.0   male
4       JUAN     367726      54.9   male

In [3]:
df[['name', 'gender']]
df.to_excel('data/train.xlsx', index=False)

In [4]:
test = pd.read_excel('data/BASE MAESTRA PREINSCRITOS.xlsx')

In [5]:
test.columns

Index(['Marca temporal',
       'Autorizo a la Secretaria Distrital De Desarrollo Económico -SDDE y sus aliados en la ejecución de los siguientes programas:\n· “Bogotá productiva local” el aliado es: PROPAÍS, cuyo objetivo es la capitalización bajo un enfoque de priorización poblacional y territorial con el fin de promover su productividad y sostenibilidad con recursos de capitalización no reembolsables.     \n· “Camino a la inclusión financiera” el aliado es ASOMICROFIZAS, cuyo objetivo es la formación en educación financiera a los beneficiarios del programa.\n· “Bogotá produce” el aliado es BANCÓLDEX, cuyo objetivo es obtener financiación a través de créditos.\n Para el tratamiento de mis datos personales de acuerdo con la normatividad vigente, en la vigencia 2022',
       'Declaro bajo la gravedad de juramento que la información suministrada y consignada a continuación es veraz y puede ser comprobada por la Alcaldía Mayor de Bogotá en cualquier momento de la ejecución del programa. Soy responsable de la veracidad y exactitud de todos los datos consignados en el presente registro, en este sentido, me someto a la verificación inopinada que realizará la Alcaldía Mayor de Bogotá, en caso de que se compruebe falsedad en la información que he brindado, perderé mi condición de participante del programa "Bogotá Productiva Local".',
       '¿Cuenta con un micronegocio activo? Se entiende por micronegocio el desarrollo de una actividad económica, no necesariamente formalizada, que puede llevarse a cabo al interior de una vivienda, un local comercial y/o en el espacio público, etc. Ejemplo de estas actividades económicas son: La pequeña miscelánea o tienda de barrio, las ventas ambulantes, las confecciones al interior de la vivienda, la fabricación de artesanías, el comercio al por menor, los pequeños talleres, entre otras.',
       'Tipo de Documento ', 'Número de Identificación',
       'Adjunte Imagen de su documento de identidad', 'Primer Nombre',
       'Segundo Nombre', 'Primer Apellido', 'Segundo Apellido',
       'Sexo de acuerdo con su documento de identidad', 'Fecha de nacimiento',
       'Edad', 'Edad calculada', 'Celular 1', 'Celular 2',
       '¿Cuenta con servicio de whatsapp activo en su número de celular?',
       'Correoelectrónico', 'Confirmesucorreoelectrónico',
       '¿Cuenta con acceso a internet?',
       '¿Cuenta con acceso a equipo de cómputo o una tablet?',
       '¿Cuenta con smartphone/teléfono inteligente/teléfono con acceso a internet?',
       '¿Sabe acceder y navegar en internet?',
       '¿Qué nivel tiene del manejo de herramientas informáticas? por ejemplo: word, excel, power point, exploradores de internet (google)',
       '¿Ha realizado antes procesos de formación virtual?',
       '¿Cuánto tiempo semanal está dispuesto a dedicarle a su proceso de formación y asistencia técnica?',
       '¿En qué horario se le facilita más su proceso de formación?',
       '¿Cuál es su nivel de educación?',
       'Pertenece a alguna de las siguientes poblaciones:',
       '¿Se encuentra registrado en la plataforma Ruta Bogotá e?',
       '¿A qué sector pertenece su negocio?',
       '¿Su negocio pertenece a alguno de los siguientes subsectores?',
       '¿Cuánto tiempo de operación tiene su micronegocio? ',
       'Adjunte Imagen del soporte del inicio de operación de su micronegocio (servirán facturas de compra, contratos de arrendamiento, certificado de proveedores, rut del negocio, certificado de registro mercantil, antigüedad de la tienda virtual o redes sociales del negocio y/o cualquier otro documento con el cual se pueda soportar la antigüedad del mismo)',
       '¿En qué localidad está ubicado su micronegocio?', 'Focalizacion',
       '¿En qué barrio está ubicado el micronegocio?',
       'Relacione la dirección actual del Micronegocio',
       'Adjunte Imagen de cualquier recibo público del lugar donde esta ubicado su micronegocio',
       '¿Tiene estudios, cursos y/o algún tipo de formación relacionada directamente con la actividad que desarrolla en su negocio?',
       '¿Cuántos años de experiencia tiene en el oficio que desarrolla, ya sea como empleado o independiente?',
       '¿Entre qué rangos está el valor de ventas promedio mensual de su negocio?',
       '¿Tiene un espacio exclusivo para la fabricación de sus productos, en donde cuente con maquinaria y/o equipo?  Por ejemplo: fileteadora, hornos, troqueles, equipos de soldadura, cortadora, etc.',
       '¿Cuenta con maquinaria y/o equipos para la venta de su producto o servicio? Por ejemplo: fileteadora, hornos, planchas, secadoras, etc.',
       '¿Sus clientes pueden comprarle a través de billeteras digitales como nequi, daviplata, Rappipay, etc?',
       '¿Con cuáles billeteras digitales cuenta?',
       '¿Para la comercialización de su producto utiliza canales como: instagram, facebook, whatsapp, mercado libre, entre otros?',
       '¿Realiza un registro de los costos, gastos y ventas de su micronegocio?',
       '¿Maneja sus finanzas personales y los negocios de manera separada?',
       '¿Tiene el hábito de ahorrar dinero de manera mensual? ',
       'Acepto que el diligenciamiento de la preinscripción e inscripción al Programa Bogotá Productiva Local, así como el recibir el proceso de formación NO me asegura la capitalización con recursos no retornables, por tanto en mi calidad de propietario del micronegocio postulado acepto las características, requisitos y condiciones de la presente convocatoria, así como su proceso de selección y priorización.',
       'Fecha Expedición documento Extranjería', 'Clasificacion',
       'Rango de Edad', 'CONVOCATORIA', '%AVANCE PRESENCIAL',
       '%AVANCE VIRTUAL', 'AUTODIAGNOSTICO', 'ESTADO CC',
       'VERIFICACION NOMBRE', 'CRUCE FONDO EMPRENDER', 'CRUCE MUJER',
       'PRIORIZADO FDL', 'EMERGENCIA LA CALERA', 'TERMINÓ FORMACION',
       'ENVIO INICIAL', 'COHORTE', 'RETIRO(FDL-SDDE)/DEVOLUCION',
       'PROPAIS/FDL', 'REPOSICION', 'REPORTADO SUIM', 'REPORTADO SUIM CAP',
       'tiempo', 'localidad', 'FECHA MAILLING', 'NIT', 'CAPITALIZADOS',
       'ACTIVIDAD QUE REALIZA', 'CONTROL REGISTRO'],
      dtype='object')

In [6]:
test.fillna('', inplace=True)

test['name'] = test['Primer Nombre'].astype('str') + ' ' + test['Segundo Nombre'].astype('str')
test['name'] = test['name'].str.strip()

test['name'] = test['name'].str.upper()
test = test[test['Sexo de acuerdo con su documento de identidad'] != 'Intersexual']
test['Sexo de acuerdo con su documento de identidad'] = test['Sexo de acuerdo con su documento de identidad'].replace({'Mujer': 'female', 'Hombre': 'male'})


test = test[['name',
             'Sexo de acuerdo con su documento de identidad']]

test.columns = ['name', 'gender']

/var/folders/7v/mlpbd2vj15s13pz4rjm4bq1m0000gn/T/ipykernel_12325/1991061335.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  test.fillna('', inplace=True)

In [7]:
test['gender'].unique()

array(['female', 'male'], dtype=object)

In [8]:
test

                 name  gender
0        SONIA YANETH  female
1         BLANCA DORI  female
2            JAKELINE  female
3       YENNY EMERITA  female
4      YURY ALEXANDRA  female
...               ...     ...
57281  MARTHA YOLANDA  female
57282          YOLIMA  female
57283          EDILMA  female
57284        MERCEDES  female
57285    INGRID YULEY  female

[57205 rows x 2 columns]

In [9]:
test.to_excel('data/test.xlsx', index=False)